@import "_variables.scss";

.Expand-Food {
    position: relative;
    height: 100rem;
  
    // background-color: rgba(color(primary), 1);
    background-image: url("Fuku Park.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(45%);
}

#Food-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.haikus{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1B1B1B;
    opacity: .7;
    height: 70vh;
    width: 55vw;
    @include laptop{
        height: 50vh;
        width: 70vw;
        flex-direction: row;
    }
}

// .hi{
// }

.Haiku-head{
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
    @include laptop{
        font-size: 5rem;
    }

}

.Haiku-text{

    font-size: 1.5rem;
    color: whitesmoke;
    @include laptop{
        align-items: center;
        font-size: 3.5rem;
    }
}
