.transport {
  $border-color: rgba(color(primary-dark), 1.0);
  width: 300px;
  min-height: 250px;
  position: relative;
  border: 2px solid $border-color;
  border-left: 40px solid $border-color;
  padding: 15px;
  font-size: 5px;
  display: inline-block;
  
  #T-head {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(black, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -30px;
    
    transform: rotate(270deg);
    transform-origin: (0 0);
  }
  
}

.food {
  $border-color: rgba(color(f-brown), 1.0);
  width: 300px;
  min-height: 250px;
  position: relative;
  border: 2px solid $border-color;
  border-left: 40px solid $border-color;
  padding: 15px;
  font-size: 5px;
  display: inline-block;
  
  #Fo-head {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(black, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -30px;
    
    transform: rotate(270deg);
    transform-origin: (0 0);
  }
  
}

.attractions {
  $border-color: rgba(color(w-red), 1.0);
  width: 300px;
  min-height: 250px;
  position: relative;
  border: 2px solid $border-color;
  border-left: 40px solid $border-color;
  padding: 15px;
  font-size: 5px;
  display: inline-block;
  
  #At-head {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(black, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -30px;
    
    transform: rotate(270deg);
    transform-origin: (0 0);
  }
  
}

.summary{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  background-color: color(#1B1B1B);
}


