          /* Abs positioning makes it not take up vert space */
          position: absolute;
          top: 0;
          left: 0;
          
            /* Border is the new background */
          background: none;
          
          .rotate{
              transform: rotate(90deg);
          }

            /* Rotate from top left corner (not default) */
          @include transform-origin(0 0);
@include transform(rotate(135deg));

.summary{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  background-color: color(#1B1B1B);
}


.summary-subtext{
  font-size: large;
}