@import "_variables.scss";

.Trans-Map{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.test{
  position: absolute;
  display: flex;
  top: 10rem;
  width: 100%;
}
.map {
    opacity: 1;
    height: auto;
    max-width: 100%;
  }


  