@import "_variables.scss";
@import "_title.scss";
@import "_summary.scss";
@import "_Expand-Attrat.scss";

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background: #1B1B1B;
}